#paineis-sobre{
    margin-top: 20px;
}
.titulo-depoimentos {
    background-color: #0275D8;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #FFF;
    margin-bottom: 0;
}
.grupo-radio {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}
.contato-select{
    width: 50%;
    display: inline-block;
    vertical-align: top;
}
footer{
    padding: 1em;
    background: #333;
    color: #FFF;
    margin-top: 10px;
    
}